# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.coverage

# ==========================
# VSCode
# ==========================

.vscode/

# ==========================
# Logs
# ==========================

*.log

# ==========================
# SQLite
# ==========================

*.db
*.sqlite3

# ==========================
# Environment Variables
# ==========================

.env
.env.*

# ==========================
# Python Build
# ==========================

build/
dist/
*.egg-info/

# ==========================
# Node
# ==========================

frontend/node_modules/

frontend/dist/

npm-debug.log*

yarn-error.log*

# ==========================
# OS
# ==========================

.DS_Store
Thumbs.db

# ==========================
# IDE
# ==========================

.idea/

# ==========================
# Misc
# ==========================

*.swp
.env
